/** Layout 相关 */

.app-wrapper {
  // 侧边栏
  .sidebar-container {
    background-color: lighten($theme-bg-color, 2%);
    .el-menu {
      background-color: lighten($theme-bg-color, 2%) !important;
      .el-menu-item {
        background-color: lighten($theme-bg-color, 2%) !important;
        &.is-active,
        &:hover {
          background-color: lighten($theme-bg-color, 6%) !important;
          color: $active-font-color !important;
        }
      }
    }
    .el-sub-menu__title {
      background-color: lighten($theme-bg-color, 2%) !important;
    }
    .el-sub-menu {
      &.is-active {
        > .el-sub-menu__title {
          color: $active-font-color !important;
        }
      }
    }
  }
}

// 右侧设置面板
.handle-button {
  background-color: lighten($theme-bg-color, 20%) !important;
}
