# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local
*.local.json

# Logs
*.log

# Use the pnpm
package-lock.json
yarn.lock

# Agent data
.omc
.agents/skills/*
!.agents/skills/v3-*/
.claude/*
