/** 自定义 Element Plus 样式 */

// 表格
.el-table {
  // 表头
  th.el-table__cell {
    background-color: var(--el-fill-color-light) !important;
  }
  // 行元素
  tr {
    background-color: transparent;
  }
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}
