.permission-alert[data-v-20ddcc2b]{width:320px;margin-top:15px;background-color:#f0f9eb;color:#67c23a;padding:8px 16px;border-radius:4px;display:inline-block}.permission-sourceCode[data-v-20ddcc2b]{margin-left:15px}
