/* 查阅所有变量：https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss */

html.dark-blue {
  /* color */
  --el-color-primary: #01efb7bb;
  --el-color-success: #01efb7bb;
  /* text-color */
  --el-text-color-primary: #ffffffee;
  --el-text-color-regular: #ffffffee;
  --el-text-color-secondary: #ffffffee;
  --el-text-color-placeholder: #ffffffee;
  --el-text-color-disabled: #ffffff55;
  /* border-color */
  --el-border-color: #01efb755;
  --el-border-color-light: #01efb755;
  --el-border-color-lighter: #01efb755;
  /** fill-color */
  --el-fill-color: #01efb710;
  --el-fill-color-light: #01efb710;
  --el-fill-color-blank: #031e47;
  /* bg-color */
  --el-bg-color: #021633;
  --el-bg-color-overlay: #021633;
}
