/**
 * dark-blue 主题下的 Element Plus CSS 变量
 * 在此查阅所有可自定义的变量：https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss
 * 也可以打开浏览器控制台选择元素，查看要覆盖的变量名
 */

html.dark-blue {
  /** color */
  --el-color-primary: #01efb7bb;
  --el-color-primary-light-3: rgba(1, 147, 127, 0.8133333333);
  --el-color-primary-light-5: rgba(2, 102, 99, 0.8666666667);
  --el-color-primary-light-7: rgba(2, 65, 77, 0.92);
  --el-color-primary-light-8: rgba(2, 49, 68, 0.9466666667);
  --el-color-primary-light-9: rgba(2, 35, 59, 0.9733333333);
  --el-color-primary-dark-2: rgba(1, 167, 128, 0.7866666667);
  --el-color-success: #01efb7bb;
  /** text-color */
  --el-text-color-primary: rgba(255, 255, 255, 0.8);
  --el-text-color-regular: rgba(255, 255, 255, 0.8);
  --el-text-color-secondary: rgba(255, 255, 255, 0.8);
  --el-text-color-placeholder: rgba(255, 255, 255, 0.8);
  --el-text-color-disabled: rgba(255, 255, 255, 0.3);
  /** border-color */
  --el-border-color: #01efb755;
  --el-border-color-light: #01efb755;
  --el-border-color-lighter: #01efb755;
  /** fill-color */
  --el-fill-color: #01efb710;
  --el-fill-color-light: #01efb710;
  --el-fill-color-blank: #031e47;
  /** bg-color */
  --el-bg-color: #021633;
  --el-bg-color-overlay: #021633;
  /** mask */
  --el-mask-color: rgba(0, 0, 0, 0.5);
}

/** button */
html.dark-blue .el-button {
  --el-button-disabled-text-color: rgba(255, 255, 255, 0.5);
}
