/** dark-blue 主题下的变量 */

// 主题名称
$theme-name: "dark-blue";
// 主题背景颜色
$theme-bg-color: #021633;
// 主题色
$theme-color: #01efb7bb;
// 默认文字颜色
$font-color: rgba(255, 255, 255, 0.8);
// active 状态下文字颜色
$active-font-color: #fff;
// hover 状态下文字颜色
$hover-color: #fff;
// 边框颜色
$border-color: #01efb755;
